<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
  SQL File Name : BatchHrm01_Mapper.xml
  Description   : 인사업무관련 batch
  Modification Information
    수정일자    수정자          수정내용
  - - - - - -   - - - - -   - - - - - - - - - - - - - - - - - - - - - - - - -
   2020.08.19   박종준      최초작성
 
  author : 박종준
  since : 2020.11.31
 -->
<mapper namespace="BatchHrm01">


<!-- 
  ID  : execSpOutingBtch
  설명: 인사 BAT-R-015 외출건상태변경(PG_HRM_BTCH.SP_OUTING_BTCH) 실행.
-->
<select id="execSpOutingBtch" statementType="CALLABLE" parameterType="map" >
{
  call PG_HRM_BTCH.SP_OUTING_BTCH (
    #{o_ret_code, mode=OUT, jdbcType=VARCHAR, javaType=string},
    #{o_ret_mesg, mode=OUT, jdbcType=VARCHAR, javaType=string}
  )
}
</select>


<!-- 
  ID  : execSpMakeFxWorkhourBtch
  설명: BAT-R-017 선택적근로시간자료생성(PG_HRM_BTCH.SP_MAKE_FX_WORKHOUR_BTCH) 실행.
-->
<select id="execSpMakeFxWorkhourBtch" statementType="CALLABLE" parameterType="map" >
{
  call PG_HRM_BTCH.SP_MAKE_FX_WORKHOUR_BTCH (
    #{o_ret_code, mode=OUT, jdbcType=VARCHAR, javaType=string},
    #{o_ret_mesg, mode=OUT, jdbcType=VARCHAR, javaType=string}
  )
}
</select>


<!-- 
  ID  : execSpVacUsedBtch
  설명: BAT-R-018 휴가사용일수갱신(PG_HRM_BTCH.SP_VAC_USED_BTCH) 실행.
-->
<select id="execSpVacUsedBtch" statementType="CALLABLE" parameterType="map" >
{
  call PG_HRM_BTCH.SP_VAC_USED_BTCH (
    #{o_ret_code, mode=OUT, jdbcType=VARCHAR, javaType=string},
    #{o_ret_mesg, mode=OUT, jdbcType=VARCHAR, javaType=string}
  )
}
</select>


<!-- 
  ID  : execSpRwnptCnclExptBtch
  설명: BAT-R-019 징계기록말소(PG_HRM_BTCH.SP_RWNPT_CNCL_EXPT_BTCH) 실행.
-->
<select id="execSpRwnptCnclExptBtch" statementType="CALLABLE" parameterType="map" >
{
  call PG_HRM_BTCH.SP_RWNPT_CNCL_EXPT_BTCH (
    #{o_ret_code, mode=OUT, jdbcType=VARCHAR, javaType=string},
    #{o_ret_mesg, mode=OUT, jdbcType=VARCHAR, javaType=string}
  )
}
</select>


<!-- 
  ID  : execSpRwnptCnclExptBtch
  설명: BAT-R-020 연차생성(PG_HRM_BTCH.SP_DEGR2_CRTN_BTCH) 실행.
-->
<select id="execSpDegr2CrtnBtch" statementType="CALLABLE" parameterType="map" >
{
  call PG_HRM_BTCH.SP_DEGR2_CRTN_BTCH (
    #{o_ret_code, mode=OUT, jdbcType=VARCHAR, javaType=string},
    #{o_ret_mesg, mode=OUT, jdbcType=VARCHAR, javaType=string}
  )
}
</select>


<!-- 
  ID  : selectEmailRsrvTargetList
  설명: BAT-R-031 메일발송 대상 조회.
-->
<select id="selectEmailRsrvTargetList" parameterType="map" resultType="map" ><![CDATA[
SELECT *
  FROM TB_HRM_EMAIL_RSRV
 WHERE SEND_RSLT_CD = 'R'
   AND RSRV_DT <= SYSDATE
]]></select>


<!--  
  ID  : updateEmailRsrvSendResult
  설명: BAT-R-031 메일발송 결과 저장.
-->
<update id="updateEmailRsrvSendResult" parameterType="map"><![CDATA[
UPDATE TB_HRM_EMAIL_RSRV
   SET SEND_RSLT_CD = #{sendRsltCd}
      ,SEND_DT      = SYSDATE
 WHERE SEQ = #{seq}
   AND SEND_RSLT_CD = 'R'
]]></update>


<!-- 
  ID  : execSpTodoCrtnBtch
  설명: BAT-R-034 인사/직원외 TODO 배치생성(PG_HRM_BTCH.SP_TODO_CRTN_BTCH) 실행.
-->
<select id="execSpTodoCrtnBtch" statementType="CALLABLE" parameterType="map" >
{
  call PG_HRM_BTCH.SP_TODO_CRTN_BTCH (
    #{o_ret_code, mode=OUT, jdbcType=VARCHAR, javaType=string},
    #{o_ret_mesg, mode=OUT, jdbcType=VARCHAR, javaType=string}
  )
}
</select>


<!-- 
  ID  : execSpTodoCrtnBtch
  설명: BAT-R-035 인사발령 반영(PG_HRM_BTCH.SP_APINT_APLY_BTCH) 실행.
-->
<select id="execSpApintAplyBtch" statementType="CALLABLE" parameterType="map" >
{
  call PG_HRM_BTCH.SP_APINT_APLY_BTCH (
    #{o_ret_code, mode=OUT, jdbcType=VARCHAR, javaType=string},
    #{o_ret_mesg, mode=OUT, jdbcType=VARCHAR, javaType=string}
  )
}
</select>


<!-- 
  ID  : execSpTodoCrtnBtch
  설명: BAT-R-036 메일사번변경알림(PG_HRM_BTCH.SP_EMAIL_EMPNO_CHG_BTCH) 실행.
-->
<select id="execSpEmailEmpnoChgBtch" statementType="CALLABLE" parameterType="map" >
{
  call PG_HRM_BTCH.SP_EMAIL_EMPNO_CHG_BTCH (
    #{o_ret_code, mode=OUT, jdbcType=VARCHAR, javaType=string},
    #{o_ret_mesg, mode=OUT, jdbcType=VARCHAR, javaType=string}
  )
}
</select>

</mapper>